 
h1 {

font-size: 5em;
font-family: 'Times New Roman';
margin-bottom: 4rem;
text-align: center;
}

 h2 {

font-size: 2em;
font-family: 'Times New Roman';
margin-bottom: 2rem;
text-align: center;
}


body {
 	font-size: 20px;
 	font-family: 'Times New Roman';
 	color: rgba(0,0,0,.8);
 	text-align: justify center;
 	margin: 300px;

 }

 #top {
 	background-color: #ccc;
 	padding: 20px
 }

 .intro {
 	color: red;
 	font-weight: bold;
 }

 .square {
 	color: red;
 	font-weight: bold;
 	height: 5rem;
 	background: #0a5a79

 }
 
  a.boton {
 	display: block;
 	width: 8rem;
 	text-align: center;
 	background: #0a5a79;
 	text-decoration: none;
 	color: blue;
 	margin: 13px auto;

 }

.boton:hover {
	background: #0a5a79;

}

.boton:visited {
	background: #690a90;

}

.boton:active {
	background: #a7e662;

}

